.active-table-true
{
  font-size: 16px;
  color: rgb(11, 185, 25) !important;
  font-weight: bolder;
  text-align: center;
}
.active-table-false
{
  font-size: 16px;
  color: rgb(182, 46, 22) !important;
  font-weight: bolder;
  text-align: center;
}
.cuil-table
{
  color: #DB7867 !important;
  text-decoration: underline;
}
